@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  --gradient-1: linear-gradient(32deg, #a249ed 20%, #6131e8 100%);
  --gradient-2: linear-gradient(-3deg, #fd3b45 0%, #fa8640 100%);
  --themepurple: #9946ec;
  --themelightblack: #5b5b5b;
  --themeorange: #f28541;
  --themeblack: #1c1c2d;
}

body {
  overflow-x: hidden;
}

.section-title {
  font-size: 60px;
  font-weight: 800;
}

.section-sub-title {
  font-size: 30px;
  font-weight: 800;
}

.small-title {
  font-size: 17px;
  font-weight: 900;
  color: var(--themelightblack);
}
.small-title span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--gradient-1);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

ul {
  list-style: none;
  padding-left: 0px;
}
ul a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.commonbtn {
  padding: 16px 30px;
  color: #fff;
  font-weight: 900;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 2;
}
.commonbtn span {
  color: #000;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  transition: 0.4s;
  z-index: 2;
}
.commonbtn::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 25px;
  background: var(--themeorange);
  z-index: -1;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(1);
}
.commonbtn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  background: var(--gradient-1);
  z-index: -2;
}
.commonbtn:hover i {
  color: #fff;
}
.commonbtn:hover::before {
  transform: scale(14);
}

.scroll-top {
  position: fixed;
  width: 50px;
  bottom: 0px;
  right: 50px;
  padding: 20px 10px;
  background: #000;
  color: #fff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  right: 10px;
  text-align: center;
  transition: 0.3s;
  opacity: 0;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
header .bargar-menu {
  width: 40px;
  height: 35px;
  border-radius: 4px;
  background: var(--gradient-1);
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  color: #fff;
}
header .bargar-menu .fa-chevron-left {
  display: none;
}
header .bargar-menu:hover .fa-chevron-left {
  display: inline-block;
}
header .bargar-menu:hover .fa-bars {
  display: none;
}
header nav ul {
  list-style: none;
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
}
header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #1b1a1a;
  transition: 0.2s;
}
header nav ul li a:hover {
  color: #9946ec;
}
header nav ul .dropdown {
  position: relative;
  display: inline-block;
}
header nav ul .dropdown-content {
  transform: rotateX(90deg);
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top;
  opacity: 0;
  border-top: 3px solid var(--themepurple);
}
header nav ul .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header nav ul .dropdown-content a:hover {
  background-color: #ddd;
}
header nav ul .dropdown:hover .dropdown-content {
  transform: rotateX(0deg);
  opacity: 1;
}
header .search {
  padding: 10px 25px;
  background: #fff;
  border-radius: 40px;
}
header .search .search-icon .fa-magnifying-glass {
  font-size: 20px;
}
header .search input {
  border: none;
  outline: none;
  padding: 10px 0px;
  border-right: 2px solid #e0e0e0;
}
header .search .cart .fa-bag-shopping {
  font-size: 20px;
}

.side-menu {
  width: 0%;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 10;
  position: absolute;
  transform: translateX(-200px);
}
.side-menu .menu-header {
  width: 100%;
  opacity: 0;
}
.side-menu .menu-header .close {
  color: #fff;
  font-size: 35px;
  transform: translateX(150px);
  transition: 0.3s;
  transition-delay: 0.6s;
}
.side-menu .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.side-menu .bg .span {
  display: block;
  width: 0%;
  height: 33.33%;
  background: #000;
  transition: 0.3s;
}
.side-menu .bg .bg2 {
  transition-delay: 0.2s;
}
.side-menu .bg .bg3 {
  transition-delay: 0.4s;
}
.side-menu form.search {
  border-bottom: 1px solid #616161;
  padding: 15px 20px;
  transform: translateY(40px);
  opacity: 0;
}
.side-menu form.search input {
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  width: 80%;
}
.side-menu form.search input:-moz-placeholder-shown {
  color: #616161;
}
.side-menu form.search input:placeholder-shown {
  color: #616161;
}
.side-menu form.search label {
  color: #fff;
}
.side-menu .menu-galary {
  transform: translateY(40px);
  opacity: 0;
}
.side-menu .menu-galary .menu li a {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
.side-menu .menu-galary .gallary img {
  width: 100%;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
}
.side-menu .social-media {
  transform: translateY(40px);
  opacity: 0;
}
.side-menu .social-media a {
  font-size: 30px;
  color: #bfbfbf;
}

.side-menu-active {
  width: 100%;
  opacity: 1;
  transform: translateX(0px);
}
.side-menu-active .menu-header {
  opacity: 1;
}
.side-menu-active .menu-header .close {
  transform: translateX(0px);
}
.side-menu-active .bg .span {
  width: 100%;
}
.side-menu-active .menu-galary {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.3s;
  transition-delay: 1s;
}
.side-menu-active form.search {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
  transition-delay: 0.8s;
}
.side-menu-active .social-media {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.3s;
  transition-delay: 1.2s;
}

.banner {
  min-height: 95vh;
  display: grid;
  place-content: center;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(../images/banner-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -3;
}
.banner .banner-left {
  position: relative;
}
.banner .banner-left .idea-img {
  position: absolute;
  top: -50px;
  right: 0px;
}
.banner .banner-left h1 {
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.banner .banner-left p:not(.small-title) {
  font-weight: 500;
  font-size: 18px;
}
.banner .banner-left .play-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}
.banner .banner-right {
  position: relative;
}
.banner .banner-right .creative {
  position: absolute;
  bottom: 40px;
  left: -40px;
  z-index: 2;
}
.banner .banner-right .views {
  position: absolute;
  top: 60%;
  right: 0px;
  transform: translateY(-50%);
}
.banner .banner-right .growth {
  position: absolute;
  bottom: -130px;
  right: 50px;
  transform: translateY(-50%);
  z-index: 2;
}
.banner .banner-right .right-img {
  position: relative;
}
.banner .banner-right .right-img::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 50%;
  background: #fbf3fd;
  border-radius: 30px;
  bottom: 0px;
  left: 5%;
  z-index: -2;
}
.banner .banner-right .right-img::before {
  content: "";
  width: 50px;
  height: 50px;
  background: var(--gradient-2);
  position: absolute;
  top: 32%;
  right: 20%;
  border-radius: 50%;
  animation: zoominout 1s linear infinite alternate-reverse;
}
@keyframes zoominout {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.trust {
  margin-top: -60px;
}
.trust .container {
  padding: 35px 45px;
  padding-left: 80px;
  background: #000;
  color: #fff;
  border-radius: 150px;
}
.trust .container h2 {
  font-size: 35px;
  font-weight: 800;
}
.trust .container .video-card {
  position: relative;
  height: 100%;
  width: 100%;
}
.trust .container .video-card img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 10px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  z-index: -1;
}
.trust .container .video-card .videoplay {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 2;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  color: #000;
}
.trust .container .card-rating {
  background: #fff;
  border-radius: 10px;
}
.trust .container .card-rating .star {
  border-bottom: 0.3px solid rgb(233, 233, 233);
  padding-bottom: 5px;
}
.trust .container .card-rating .star i {
  font-size: 18px;
  color: var(--themeorange);
}
.trust .container .traffic-card {
  background: #fff;
  border-radius: 10px;
  color: #000;
}
.trust .container .traffic-card h4 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 5px;
  border-bottom: 0.3px solid rgb(233, 233, 233);
}
.trust .container .traffic-card h5 {
  font-size: 28px;
  font-weight: 800;
}
.trust .container .traffic-card span {
  font-size: 14px;
  font-weight: 800;
}
.trust .container .traffic-card .pipe {
  width: 90%;
  height: 13px;
  border-radius: 8px;
  background: #eaeaea;
  margin: 5px 0px;
}
.trust .container .traffic-card .pipe .pipefill {
  width: 50%;
  height: 13px;
  border-radius: 8px;
  background: var(--themepurple);
}

.services {
  position: relative;
}
.services::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(../images/body-bg-1.webp) no-repeat;
  background-size: cover;
  z-index: -3;
}
.services .service-card {
  color: #fff;
  overflow: hidden;
  position: relative;
}
.services .service-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: var(--themeblack);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  z-index: -2;
}
.services .service-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0px;
  left: 0px;
  background: var(--gradient-1);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}
.services .service-card:hover::before {
  height: 100%;
  opacity: 1;
}
.services .service-card:hover .card-top {
  border-bottom: 0.3px solid var(--themepurple);
}
.services .service-card .card-top {
  padding: 50px 50px 10px 50px;
  border-bottom: 0.3px solid #4e4e4e;
}
.services .service-card .card-top .icon img {
  width: 70px;
}
.services .service-card .card-top p {
  font-size: 18px;
  font-weight: 400;
}
.services .service-card .card-bottom {
  padding: 30px 40px;
  position: relative;
}
.services .service-card .card-bottom li {
  font-size: 20px;
  font-weight: 800;
  margin: 10px 0px;
}
.services .service-card .card-bottom .go-to {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  bottom: 15px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 22px;
}
.services .service-card .card-bottom .go-to i {
  transform: rotate(45deg);
}
.services .user-review-rate {
  border: 2px solid #000;
  border-top: unset;
}
.services .user-review-rate .user-card h3 {
  font-size: 60px;
  font-weight: 800;
}
.services .user-review-rate .user-card p {
  font-size: 25px;
  font-weight: 800;
}
.services .user-review-rate .user-card-2 {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}
.services .goal .left p {
  font-size: 18px;
  font-weight: 400;
  color: var(--themelightblack);
}
.services .goal .left .goal-left-inner .img1 {
  width: 190px;
  height: 132px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.services .goal .left .goal-left-inner .img2 {
  width: 190px;
  height: 119px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.services .goal .right {
  position: relative;
}
.services .goal .right .goal-card {
  position: absolute;
  bottom: -20px;
  left: 60px;
  padding: 20px 0px;
  padding-bottom: 0px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 14px 60.2px 9.8px rgba(28, 28, 45, 0.2);
  border-radius: 20px;
}
.services .goal .right .goal-card .card-1 {
  padding: 10px 30px;
}
.services .goal .right .goal-card .card-1 .icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #e1fffd;
  text-align: center;
  line-height: 65px;
  font-size: 20px;
}
.services .goal .right .goal-card .card-2 {
  background: #fff6f6;
}
.services .goal .right .goal-card .card-2 .icon {
  background: #f1ffa4;
}
.services .goal .right .right-img {
  width: 75%;
}

.consulting {
  padding: 50px 0px;
  background: url(../images/deep-blue-bg.webp);
  color: #fff;
}
.consulting .small-title {
  color: #fff;
  font-weight: 800;
}
.consulting .col-12 {
  text-align: center;
  position: relative;
}
.consulting .col-12 .cardimg img {
  transition: 0.5s;
}
.consulting .col-12 .icon {
  position: absolute;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  top: -10px;
  left: 50px;
  background: #fff;
  display: grid;
  place-content: center;
  transition: 0.3s;
}
.consulting .col-12 .icon img {
  width: 37px;
  height: 37px;
  -o-object-fit: cover;
     object-fit: cover;
}
.consulting .col-12 .section-sub-title {
  padding: 15px 0px;
}
.consulting .col-12 p {
  font-size: 18px;
}
.consulting .col-12:hover .icon {
  transform: rotateY(180deg);
  background: var(--themepurple);
  z-index: 4;
}
.consulting .col-12:hover .cardimg img {
  transform: rotate(10deg) scale(1.1);
}

.get-started {
  font-size: 14px;
  background: url(../images/blogbg.webp);
}
.get-started .swiper-slide {
  width: 100%;
  min-height: 495px;
  font-size: 18px;
  perspective: 1000px;
}
.get-started .swiper-slide .left-img {
  perspective: 1200px;
}
.get-started .swiper-slide .left-img img {
  transform: rotateX(-90deg);
  transition: 1s;
  transform-origin: bottom;
  opacity: 0;
}
.get-started .swiper-slide .right-content {
  padding: 0px 40px;
  transform: rotateX(90deg);
  transition: 1s;
  transform-origin: top;
  opacity: 0;
}
.get-started .swiper-slide .right-content .nft-left .price {
  font-size: 23px;
  font-weight: 400;
  color: #141515;
}
.get-started .swiper-slide-active .left-img img {
  transform: rotateX(0deg);
  opacity: 1;
}
.get-started .swiper-slide-active .right-content {
  transform: rotateX(0deg);
  opacity: 1;
}
.get-started .swiper-pagination {
  transform: rotate(90deg) translateY(-50%);
  bottom: unset;
  top: 50%;
  left: -50%;
}
.get-started .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  opacity: 1;
  margin-left: 15px;
}
.get-started .swiper-pagination .swiper-pagination-bullet-active {
  transform: scale(2.5);
}
.get-started .get-started-bottomline {
  height: 3px;
  background: var(--themepurple);
  margin: 80px auto;
  position: relative;
}
.get-started .get-started-bottomline .bottomlineimg {
  position: absolute;
  left: 0px;
  top: -13px;
  animation: move 10s linear infinite alternate-reverse;
}
@keyframes move {
  from {
    left: 0%;
  }
  to {
    left: 95%;
  }
}
.get-started .better-ship .ship-left p {
  font-size: 18px;
}

.success-project {
  background: url(../images/success-project-bg.webp);
  color: #fff;
  padding: 90px 0px;
}
.success-project .small-title {
  font-weight: 800;
  color: #fff;
}
.success-project .swiper {
  min-height: 70vh;
}
.success-project .swiper .swiper-wrapper {
  padding: 70px 0px;
}
.success-project .swiper-slide {
  font-size: 18px;
  min-height: 400px;
  transition: 0.3s;
  overflow: hidden;
}
.success-project .swiper-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: linear-gradient(25deg, #000000, rgba(0, 0, 0, 0) 60%);
  bottom: 0px;
  left: 0px;
}
.success-project .swiper-slide .card-img img {
  display: block;
  width: 100%;
  height: 490px;
  -o-object-fit: cover;
     object-fit: cover;
}
.success-project .swiper-slide .card-content {
  position: absolute;
  left: 40px;
  bottom: -100px;
  z-index: 2;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.success-project .swiper-slide .card-content .projectbtn {
  padding: 8px 10px;
  background: var(--gradient-1);
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.success-project .swiper-slide-active {
  transform: scale(1.2);
  border-radius: 10px;
  border-bottom: 10px solid var(--themepurple);
  z-index: 2;
}
.success-project .swiper-slide-active .card-img img {
  -o-object-fit: cover;
     object-fit: cover;
}
.success-project .swiper-slide-active .card-content {
  bottom: 20px;
}
.success-project .swiper-button-next {
  right: 25%;
}
.success-project .swiper-button-prev {
  left: 25%;
}
.success-project .swiper-button-next,
.success-project .swiper-button-prev {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 5px;
}
.success-project .swiper-button-next:after,
.success-project .swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  content: "\f178";
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.success-project .swiper-button-prev:after {
  content: "\f177";
}

.discount {
  padding: 90px 0px;
  position: relative;
}
.discount::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(../images/body-bg-1.webp);
  z-index: -2;
}
.discount::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 600px;
  width: 100%;
  background: rgb(237, 223, 255);
  z-index: -1;
}
.discount .price-card {
  border: 3px solid #000;
  border-bottom-width: 6px;
  padding: 30px 30px;
  border-radius: 20px;
  transition: 0.3s;
}
.discount .price-card .card-icon img {
  width: 70px;
  padding: 5px;
  border: 3px solid #000;
  border-bottom-width: 6px;
  border-radius: 10px;
}
.discount .price-card p:not(.section-sub-title) {
  font-size: 18px;
}
.discount .price-card .brandbtn {
  padding: 15px 40px;
  border: 3px solid #000;
  border-bottom-width: 6px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  color: #000;
  border-radius: 30px;
  margin: 30px 0px 10px 0px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.discount .price-card .brandbtn::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background: var(--gradient-1);
  transition: 0.3s;
  z-index: -1;
}
.discount .price-card .last-icons {
  opacity: 0;
  transition: 0.3s;
}
.discount .price-card ul li {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0px;
}
.discount .price-card ul li .confirm {
  width: 35px;
  height: 35px;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 35px;
}
.discount .price-card:hover {
  background: #000;
  color: #fff;
}
.discount .price-card:hover .card-icon img {
  border-color: #fff;
}
.discount .price-card:hover .brandbtn {
  color: #fff;
}
.discount .price-card:hover .brandbtn::after {
  width: 100%;
}
.discount .price-card:hover::after {
  width: 100%;
}
.discount .price-card:hover .last-icons {
  opacity: 1;
  padding: 10px 0px;
}
.discount .price-card:hover ul li .confirm {
  border-color: #fff;
}
.discount .team .left {
  position: relative;
  padding: 0px 0px 0px 50px;
}
.discount .team .left:hover .personimg-1 {
  filter: grayscale(100%);
}
.discount .team .left:hover .personimg-1 .persondata-1 {
  transform: translateY(0px);
}
.discount .team .left .personimg-1 {
  position: relative;
  overflow: hidden;
  background: #000;
  border-bottom-right-radius: 215px;
  border-bottom-left-radius: 215px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.discount .team .left .personimg-1 img {
  width: 100%;
}
.discount .team .left .personimg-1 .persondata-1 {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: #fff;
  padding: 15px 0px;
  transform: translateY(200px);
  transition: 0.3s;
}
.discount .team .left .personimg-1 .persondata-1 .small-title {
  font-size: 22px;
  color: #000;
  font-weight: 800;
}
.discount .team .left .personimg-1 .persondata-1 p {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
}
.discount .team .left .textimg {
  position: absolute;
  bottom: -30px;
  left: 0px;
}
.discount .team .right {
  position: relative;
  padding: 0px 50px 0px 0px;
}
.discount .team .right:hover .personimg-2 {
  filter: grayscale(100%);
}
.discount .team .right:hover .personimg-2 .persondata-2 {
  transform: translateY(0px);
}
.discount .team .right .personimg-2 {
  position: relative;
  overflow: hidden;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 50px;
}
.discount .team .right .personimg-2 img {
  width: 100%;
}
.discount .team .right .personimg-2 .persondata-2 {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: #fff;
  padding: 15px 0px;
  transform: translateY(200px);
  transition: 0.3s;
}
.discount .team .right .personimg-2 .persondata-2 .small-title {
  font-size: 22px;
  color: #000;
  font-weight: 800;
}
.discount .team .right .personimg-2 .persondata-2 p {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
}
.discount .team .right .textimg {
  position: absolute;
  top: -20px;
  right: 0px;
}

.testimonial {
  position: relative;
}
.testimonial::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url(../images/blogbg.webp);
  background-size: cover;
  z-index: -2;
}
.testimonial .testimonial-container .swiper-slide {
  font-size: 18px;
  display: flex;
  min-height: 580px;
  align-items: center;
}
.testimonial .testimonial-container .swiper-slide .testimonial-left {
  position: relative;
}
.testimonial .testimonial-container .swiper-slide .testimonial-left .left-img {
  position: absolute;
  width: 470px;
  height: 470px;
  border-radius: 50%;
  position: relative;
  overflow-y: hidden;
  perspective: 800px;
}
.testimonial .testimonial-container .swiper-slide .testimonial-left .left-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #ffffff;
  z-index: -1;
  transform: rotateY(90deg);
  transition: 0.8s;
  opacity: 0;
}
.testimonial .testimonial-container .swiper-slide .testimonial-left .left-img img {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
  top: 0px;
  transform: translateY(100%);
  transition: 0.8s;
  opacity: 0;
}
.testimonial .testimonial-container .swiper-slide .testimonial-right {
  transform: translateX(40px);
  transition: 0.8s;
  opacity: 0;
}
.testimonial .testimonial-container .swiper-slide .testimonial-right h2 {
  font-size: 35px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.testimonial .testimonial-container .swiper-slide .testimonial-right .about-para {
  font-size: 22px;
  color: var(--themeblack);
  padding: 0px 0px 30px 40px;
  border-left: 4px solid var(--themepurple);
}
.testimonial .testimonial-container .swiper-slide .testimonial-right .bottom h3 {
  font-size: 35px;
  font-weight: 800;
  text-transform: capitalize;
}
.testimonial .testimonial-container .swiper-slide .testimonial-right .bottom p {
  color: var(--themepurple);
}
.testimonial .testimonial-container .swiper-slide-active .testimonial-left .left-img::after {
  transform: rotateY(0deg);
  opacity: 1;
}
.testimonial .testimonial-container .swiper-slide-active .testimonial-left .left-img img {
  transform: translateY(0%);
  opacity: 1;
}
.testimonial .testimonial-container .swiper-slide-active .testimonial-right {
  transform: translateX(0px);
  opacity: 1;
}
.testimonial .testimonial-container .swiper-pagination {
  width: 42%;
}
.testimonial .testimonial-container .swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 0.4px solid rgba(0, 0, 0, 0.8431372549);
  background: transparent;
  margin: 0px 15px;
}
.testimonial .testimonial-container .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--gradient-1);
  border: none;
}
.testimonial .brand {
  border-top: 3px solid var(--themeblack);
}
.testimonial .brand .left h3 {
  font-size: 50px;
  font-weight: 800;
}
.testimonial .brand .left p {
  font-size: 18px;
}

.video-overlay {
  position: relative;
}
.video-overlay::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75%;
  background: linear-gradient(rgba(0, 0, 0, 0.4235294118), rgba(0, 0, 0, 0.368627451)), url(../images/video-overlay-bg.webp);
  background-size: cover;
  z-index: -2;
}
.video-overlay .play {
  width: 150px;
  height: 150px;
  padding: 10px;
  background: var(--gradient-1);
  text-align: center;
  line-height: 130px;
  border-radius: 50%;
  position: relative;
}
.video-overlay .play .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
.video-overlay .contact-card {
  background: url(../images/contact-bg.webp);
  background-size: cover;
  border-radius: 20px;
  padding: 100px;
}
.video-overlay .contact-card .left h3 {
  font-size: 50px;
  font-weight: 800;
}
.video-overlay .contact-card .right .commonbtn {
  text-transform: uppercase;
  font-size: 18px;
}
.video-overlay .contact-card .right .commonbtn:before {
  width: 28px;
  height: 28px;
}
.video-overlay .contact-card .right .commonbtn span {
  margin-left: 20px;
}
.video-overlay .contact-card .right .commonbtn:hover::before {
  transform: scale(16);
}

.blog {
  padding: 100px 0px;
  margin-top: 80px;
  background: url(../images/blogbg.webp);
  background-size: cover;
}
.blog .blog-card .card-img {
  width: 100%;
  position: relative;
  border-radius: 12px;
  position: relative;
}
.blog .blog-card .card-img .badg {
  position: absolute;
  bottom: 0px;
  transform: translateY(50%);
  left: 20px;
  background: var(--gradient-1);
  border-radius: 20px;
  border: 3px solid #fff;
  padding: 5px 20px;
  font-weight: 500px;
  color: #fff;
}
.blog .blog-card .card-img img {
  width: 100%;
  border-radius: 12px;
  transition: 0.3s;
}
.blog .blog-card .blog-title {
  font-size: 33px;
  font-weight: 800;
}
.blog .blog-card p {
  font-size: 18px;
  font-weight: 500;
  color: var(--themelightblack);
}
.blog .blog-card .card-bottom .circle {
  font-weight: 800;
  white-space: nowrap;
}
.blog .blog-card .card-bottom .circle img {
  border-radius: 50%;
}
.blog .blog-card .card-bottom .line {
  height: 5px;
  background: #f3f3f3;
  width: 100%;
  position: relative;
}
.blog .blog-card .card-bottom .line::after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background: #d5aaff;
  transition: 0.8s;
}
.blog .blog-card:hover .blog-title {
  color: var(--themepurple);
}
.blog .blog-card:hover .card-img img {
  filter: grayscale(100%);
}
.blog .blog-card:hover .card-bottom .line::after {
  width: 100%;
}

footer {
  background: #000;
  padding: 80px 0px;
}
footer h2 {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}
footer h3 {
  font-size: 28px;
  color: #fff;
  font-weight: 800;
}
footer h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}
footer a, footer p, footer li {
  color: #fff;
  font-size: 18px;
}
footer .email {
  background: #fff;
  width: 90%;
}
footer .email input {
  padding: 15px 10px;
  border: none;
  outline: none;
}
footer .email label {
  width: 65px;
  background: #6131E8;
  height: 100%;
  color: #fff;
  line-height: 65px;
  text-align: center;
  font-size: 20px;
}
footer .bottom {
  color: #fff;
}
footer .bottom ul li a {
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
  color: #000;
}
footer .bottom .all-right {
  font-size: 20px;
}
footer .bottom .all-right a {
  font-size: 18px;
  color: rgb(111, 0, 255);
  text-decoration: none;
  padding: 0px 10px;
  font-weight: 800;
}

@media (max-width: 992px) {
  .banner {
    padding-top: 200px;
  }
  .banner .banner-left h1 {
    font-size: 40px;
  }
  .trust {
    margin-top: 100px;
  }
}
@media (max-width: 776px) {
  .section-title {
    font-size: 30px;
  }
  .banner .right-img img {
    width: 100%;
  }
  .trust .container {
    padding: 25px 5px;
    border-radius: 50px;
  }
}
@media (max-width: 576px) {
  .services .user-review-rate .user-card h3 {
    font-size: 34px;
  }
  .services .user-review-rate .user-card p {
    font-size: 20px;
  }
  .get-started .swiper-slide .left-img img {
    width: 100%;
  }
  .discount .team .left .textimg, .discount .team .right .textimg {
    display: none;
  }
  .discount .team .left, .discount .team .right {
    padding: 0px;
  }
  .testimonial .testimonial-container .swiper-slide .testimonial-left .left-img {
    width: 300px;
    height: 300px;
  }
  .testimonial .testimonial-container .swiper-pagination {
    width: 100%;
    margin-top: 30px;
  }
  .video-overlay .contact-card {
    padding: 20px;
    border-radius: 10px;
  }
  .video-overlay .contact-card .left h3 {
    font-size: 30px;
  }
  .blog {
    padding-top: 0px;
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */